* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autograph {
  width: 1200px;
}

.autograph__path {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated .autograph__path {
  opacity: 1;
  -webkit-animation-name: line;
          animation-name: line;
}

@-webkit-keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}